name: Build

on:
  push:
    paths-ignore:
      - "docs/**"
    branches:
      - master
#      - release/*
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: "18"

      - name: Cache Node.js modules
        uses: actions/cache@v4
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.OS }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.OS }}-node-
            ${{ runner.OS }}-

      # install dependencies and build the project
      - run: npm install --registry=https://registry.npmjs.org
      - run: npm run test:cov
      - name: Upload testing reports
        run: |
          bash <(curl -s https://codecov.io/bash)
        env:
          CODECOV_TOKEN: ${{secrets.CODECOV_TOKEN}}
  # see: https://www.edwardthomson.com/blog/github_actions_22_automerge_security_updates.html
  # https://localheinz.com/blog/2020/06/15/merging-pull-requests-with-github-actions/
#   automerge:
#     name: Merge pull request
#     runs-on: ubuntu-latest
#     needs: [build]
#     if: >
#       github.event_name == 'pull_request' &&
#       github.event.pull_request.draft == false && (
#         github.event.action == 'opened' ||
#         github.event.action == 'reopened' ||
#         github.event.action == 'synchronize'
#       ) && (
#         github.actor == 'dependabot[bot]'
#       )

#     steps:
#       - name: "Merge pull request"
#         uses: "actions/github-script@v2"
#         with:
#           github-token: "${{ secrets.GITHUB_TOKEN }}"
#           script: |
#             const pullRequest = context.payload.pull_request
#             const repository = context.repo

#             await github.pulls.merge({
#               merge_method: "merge",
#               owner: repository.owner,
#               pull_number: pullRequest.number,
#               repo: repository.repo,
#             })
