name: Build

on:
  push:
    paths-ignore:
      - "docs/**"
    branches:
      - master
#      - release/*
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Setup NodeJS
        uses: actions/setup-node@v2.1.5
        with:
          node-version: "15"

      - name: Cache Node.js modules
        uses: actions/cache@v2.1.5
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.OS }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.OS }}-node-
            ${{ runner.OS }}-

      # install dependencies and build the project
      - run: npm install --registry=https://registry.npmjs.org
      - run: npm run test:cov
      - name: Upload testing reports
        run: |
          bash <(curl -s https://codecov.io/bash)
        env:
          CODECOV_TOKEN: ${{secrets.CODECOV_TOKEN}}
  # see: https://www.edwardthomson.com/blog/github_actions_22_automerge_security_updates.html
  automerge:
    name: Merge pull request
    runs-on: ubuntu-latest
    needs: [build]
    if: github.base_ref == 'master' && github.actor == 'dependabot[bot]'
    steps:
      - name: Merge
        uses: actions/github-script@v3.1
        with:
          script: |
            github.pullRequests.merge({
              owner: context.payload.repository.owner.login,
              repo: context.payload.repository.name,
              pull_number: context.payload.pull_request.number
            })
          github-token: ${{github.token}}
